/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

//@import url("https://use.typekit.net/bsr3vel.css");
// @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$family-sans-serif: 'Space Grotesk', sans-serif;
$family-headers: 'Space Mono', monospace;

// Colors
$primary: white;
$secondary: #EAEEE9;
$accent:  #03BC00;
$green: #03BC00;
$grey-darker: #CBD1C9;
$grey-dark: #E0E6DE;
$grey-light: #EAEEE9;
$grey-lighter: #F2F5F1;
$white-ter: #F7FAF6;

$light: $white-ter;
$dark: $grey-dark;

$secondary-invert: findColorInvert($secondary) !default;
$accent-invert: findColorInvert($accent) !default;

$custom-colors: (
  "secondary":($secondary, $secondary-invert),
  "accent":($accent, $accent-invert),
);

$text: #4D4F4C;
$text-strong: #010C04;

$link: #4e9dff;
$link-hover: $accent;
$link-focus: $accent;
$link-active: $accent;

$title-weight: 600;
// $title-color: white;
// $subtitle-color: white;
$title-family: $family-headers;
//$subtitle-family: $family-headers;

$body-line-height: 1.7;
$button-padding-horizontal: 1.7em;

$body-background-color: white;

$navbar-height: 5rem;
$control-border-width: 2px;
$footer-background-color: transparent;
$footer-padding: 1rem;

$hr-background-color: $dark;
$hr-height: 1px;
$box-background-color: $grey-light;
$box-shadow: 0 0 0 1px transparent;
$box-shadow: 0 0 0 1px transparent;
$box-link-hover-shadow: 0 0 0 1px $accent;
$box-link-active-shadow: 0 0 0 1px $accent;


$pagination-current-background-color: $accent;

$menu-item-hover-background-color: $grey-dark;
$menu-item-active-background-color: $grey-darker;
$menu-item-active-color: $text;
$menu-list-link-padding: 0.25em 0.75em;
$menu-item-active-color: $text-strong;

$tabs-link-hover-border-bottom-color: transparent;
$tabs-link-active-border-bottom-color: $accent;
$tabs-link-color: $text;
$tabs-link-hover-color: $accent;
$tabs-link-active-color: $text;
$tabs-border-bottom-width: 2px;

$tablet: 1024px;

$modal-background-background-color: rgba(0,0,0, 0.5);

$table-cell-padding: 0.25em 0.75em;

$fullhd: 1680px;